@model FoodStore.Models.ViewModel.ProductCategoryViewModel

<div class="p-t-120 p-b-120">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                @foreach (var category in Model.Categories)
                {
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="@category.Id">
                        @category.Name
                    </button>
                }
            </div>
            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" onclick="submitSearch()">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input id="searchInput" class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
                </div>
            </div>

        </div>
        <div class="row isotope-grid">
            @await Html.PartialAsync("_ProductsPartial", Model.Products.Take(8))
        </div>

        <div class="flex-c-m flex-w w-full p-t-45">
            @if (Model.CurrentPage > 1)
            {
                <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    Previous
                </a>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    Next
                </a>
            }
        </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        function submitSearch() {
            var searchTerm = document.getElementById('searchInput').value;
            window.location.href = '@Url.Action("Search", "Product")?searchTerm=' + encodeURIComponent(searchTerm);
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
